body {
  height: auto !important;
  background-color: #011F48 !important;
}

.card .back {
  background-image: url("../static/img/back.png") !important;
}

.deck .card {
  transform: none !important;
  left: -12.5vh !important;
  top: -24vh !important;
  width: 27vh !important;
  height: 47vh !important;

  &:before, &:after {
    font-size: 1.7rem !important;
    line-height: 1.7rem !important;
  }

  &:before {
    top: .2rem;
    left: .5rem;
  }
  &:after {
    top: .2rem;
    right: .5rem;
  }
}

.rtl-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30vh;
  height: 8vh;
  border-radius: 29px;
  padding: 13px 0;
  background: #011f48;
  filter: $w-shadow-sm;

  font-family: 'Bebas Neue', sans-serif;
  font-size: 3vh;
  text-decoration: none;
  color: white !important;

  &:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 29px;
    box-shadow: $b-shadow-sm;
  }
}

.nuxt-link {
  text-decoration: none !important;
}
